@media (max-width: 480px) {
  #container {
    width: 95%;
    padding: 1.2rem .8rem;
    margin: 2rem auto;

    h2{
        font-size: 1.8rem;
    }
  }
}


@media (min-width: 481px) and (max-width: 768px) {
  #container {
    width: 100%;
    padding: 2rem;
  }
}