* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Satoshi", sans-serif;
}

body {
  background-color: #fff;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.07) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.07) 1px, transparent 1px);
  background-size: 32px 32px;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  font-size: 14px;
  align-items: center;
  justify-content: center;
}

#container {
  background: #fff;
  border-radius: 20px;
  padding: 2rem;
  display: flex;
  
  flex-direction: column;
  gap: 30px;
  max-width: 600px;
  width: 100%;
  position: relative;
  box-shadow: 6px 6px 0 #000;
  border: 1px solid black;
}

#container h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #111;
}

#container p {
  font-size: 16px;
  color: #555;
}

#form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 4px;

  label {
    font-size: 16px;
    font-weight: 600;
  }

  input {
    padding: 10px;
    border-radius: 8px;
    outline: none;
    border: 1px solid #555;
  }
  textarea {
    padding: 10px;
    border-radius: 8px;
    outline: none;
    border: 1px solid #555;
    resize: none;
    height: 120px;
  }
}

#submit-btn {
  padding: 10px;
  cursor: pointer;
  background: #fff500;
  position: relative;
  width: fit-content;
  outline: none;
  font-weight: 500;
  align-self: flex-end;
  border: none;
  transition: all 0.3s ease;
  z-index: 20;
  transform: skewX(-5deg);
  box-shadow: 3px 3px 0 #000;

  &:active {
    box-shadow: none;
  }
}

#socials-section {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 4px;

  .social-container {
    display: flex;
    align-items: center;
    gap: 4px;
    width: 100%;

    select {
      width: 20%;
      padding: 0.5rem 1rem;
      border-radius: 8px;
      border: 1px solid #555;
      background-color: #fff;
      color: #000;
      font-weight: 500;
      font-family: inherit;
      outline: none;
      cursor: pointer;
      appearance: none;
      background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
      background-repeat: no-repeat;
      background-position: right 10px center;
      background-size: 12px;
      transition: all 0.3s ease;

      &:hover {
        border-color: #000;
        background-color: #f9f9f9;
      }
      &:focus {
        border-color: #000;
      }
    }

    input {
      width: 80%;
      padding: 0.4rem;
      border-radius: 6px;
      outline: none;
      border: 1px solid #555;
    }

    #close-btn {
      outline: none;
      border: none;
      background: none;
      color: red;
      cursor: pointer;
    }
  }

  #add_social_btn {
   padding: 8px 16px;
  cursor: pointer;
  outline: none;
  font-weight: 500;
  align-self: flex-start;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: #111;
  color: #fff;
  font-family: inherit;
  transition: all 0.25s ease;
  }
}
